body {
    color: #dfdfdf;
    font-size: 130%;
    font-family: "Noto Sans JP", TakaoPGothic, sans-serif;
}

body h3 {
    margin-left: 2em;
}

.count_spinner {
    width: 2.8em;
    padding-left: 0.5em;
}