body {
    overflow-y: hidden;
}

#audio_player {
    width: 100%;
    padding: 1em;
    display: none;
}

#video_player {
    width: 100%;
    display: none;
    height: 100%;
    width: 100%;
}

#caption_container {
    display: flex;
    transform: translateY(-10em);
    width: 100%;
    gap: 10%;
}

#captions_en {
    display: none;
    flex-direction: column;
    flex: 1;
    align-items: center;
    visibility: hidden;
    justify-content: center;
    color: white;
    font-size: 140%;
    /* transform: translateY(-10em); */
    /*transform: translateY(calc(var(--plyr-control-spacing, 10px)*-4));*/
}

#captions_ja > div {
    background-color: black;
    padding: 0.2em;
}

#captions_en > div {
    background-color: black;
    padding: 0.2em;
}

#captions_ja {
    display: none;
    flex-direction: column;
    align-items: center;
    flex: 1;
    visibility: hidden;
    justify-content: center;
    color: white;
    font-size: 200%;
    /* transform: translateY(-6em); */
    /*transform: translateY(calc(var(--plyr-control-spacing, 10px)*-4));*/
}

::cue {
    opacity: 0%;   /* we want to hide the default subtitles */
}

.story_info {
    font-size: 80%;
}