body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c1c1c1;
}

#story {
    font-family: "Noto Sans JP", TakaoPGothic, sans-serif;
    letter-spacing: 0.02em;
    font-size: 130%;
}

#tokenized_story {
    font-family: "Noto Sans JP", TakaoPGothic, sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.6;
    font-size: 170%;
}

#tokenized_story p {
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}

#tokenized_story span {
    white-space: nowrap;
}

#word_list_container {
    margin-top: 5em;
}

#word_list {
    font-size: 160%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

#word_list td {
    padding: 10px 50px 10px 10px;
    border-left: solid rgb(138, 32, 32) 1px;
    white-space: nowrap;
}

span.pad_left:not(:first-child) {
    padding-left: 0.0em;
}

span.noun,
tr.noun {
    color: #003c71;
}

span.particle,
span.conjunction,
tr.particle,
tr.conjunction {
    color: rgb(255, 252, 3);
}

span.connecting_particle,
tr.connecting_particle {
    color: rgb(132, 130, 27);
}

span.verb_auxiliary,
tr.verb_auxiliary {
    color: #aa6868;
}

span.adverb,
tr.adverb {
    color: #2b8248;
}

span.verb,
tr.verb {
    
    color: #9d1919;
}

span.i_adjective,
tr.i_adjective {
    color: #82009d;
}

span.pronoun,
span.admoninal_adjective,
tr.pronoun,
tr.admoninal_adjective {
    color: #0063bb;
}


span.pad_left:hover,
span.particle:hover,
span.verb_auxiliary:hover,
span.verb:hover {
    text-decoration: underline;
}


#story_container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

#definitions {
    padding: 2em 3em;
    margin-right: 2em;
    background-color: rgb(201, 179, 163);
    font-size: 80%;
    text-align: right;
}