body {
    background-color: rgb(35, 35, 35);
    color: #dfdfdf;
    font-size: 130%;
    font-family: "Noto Sans JP", TakaoPGothic, sans-serif;
}

h3 {
    margin-left: 1em;
}

.kanji_spelling {
    font-size: 240%;
    white-space: nowrap;
    color: #daa506;
    margin-right: 1em;
}

.reading {
    font-size: 180%;
    color: #dd3939;
    margin-bottom: 0.4em;
    margin-right: 1em;
}

.entry {
    margin-top: 3em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
}

.word {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
}

.sense {
    padding: 10px;
    font-size: 120%;
    margin-top: 6px;
}

.pos {
    background-color: #13110f;
    color: #909090;
    margin-right: 3px;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 50%;
}

.glosses {
    color: #c3c3c3;
    font-size: 80%;
    line-height: 180%;
    margin-top: 9px;
}

.high_pitch {
    border-top: #63ab59 3px dotted;
    /* font-weight: bold; */
    /* color: #ff6a6a;;  */
}

#word_results {
    margin-left: 2em;
    margin-top: 3em;
}

#word_results hr { 
    border: 1px solid #d2d2d2; 
}


#cards {
    margin-left: 2em;
    margin-top: 3em;
}

#interior_link {
    text-decoration: none;
}

#interior_results {
    margin-top: 3em;
}

#results {
    margin-top: 3em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

#answer {
    background-color: rgb(36, 41, 55);
    font-size: 130%;
    border-top-right-radius: 90px;
    gap: 0px 0px;
}

#answer .literal {
    margin-right: 1em;
    font-size: 300%;
}

#answer .kanji_meanings {
    color: #575757;
    margin-top: 0.5em;
}

.drill_word {
    cursor: default;
    padding: 2px 0px 13px 30px;
    margin: 22px;
    font-size: 340%;
    color: #dfdfdf;
    background-color: black;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.countdown {
    margin-left: auto;
    margin-right: 20px;
    font-size: 50%;
    color: #3b3b3b;
}

.drill_count {
    margin-right: 20px;
    font-size: 30%;
    color: #3b3b3b;
}


.drill_word:not(.answered):nth-child(2) {
    border: #dfdfdf solid 3px;
}

.drill_word.wrong {
    background-color: rgb(120, 0, 0);
}


.drill_word.answered {
    margin-left: 80px;
    font-size: 170%;
    opacity: 0.5;
}

#card_separator {
    border: 10px solid #6a6a6a;
}

#drill_complete {
    background-color: #33752a;
    text-align: center;
    padding: 0.4em;
}

#definitions {
    padding: 0em 2em;
    /* margin-right: 1em; */
    font-size: 70%;
}

.onyomi_readings {
    font-size: 145%;
    color: #008188;
}

.kunyomi_readings {
    font-size: 145%;
    color: #dd3939;
}

.kanji_misc {
    font-size: 70%;
    margin-top: 0.6em;
    color: #8a746a;
}

.kanji_reading {
    margin-right: 1em;
    white-space: nowrap;
}

.frequency {
    margin-left: 2em;
}

.kanji {
    margin-bottom: 1em;
    margin-right: 0.5em;
    width: 30%;
    flex: 1 1 auto;
}

#kanji_results {
    padding: 1em 2em;
    font-size: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

#kanji_results .literal {
    color: #daa506;
}

#kanji_results .kanji_meanings {
    color: #c3c3c3;
    margin-top: 0.5em;
}

#drill_count {
    font-size: 120%;
    margin: 5px;
    width: 9em;
}

#drill_recency {
    font-size: 100%;
    margin: 5px;
    width: 12em;
}

#drill_type {
    font-size: 100%;
    margin: 5px;
    width: 12em;
}

#drill_wrong {
    font-size: 100%;
    margin: 5px;
    width: 12em;
}

#current_drill_count {
    text-align: right;
    margin-right: 30px;
}

#top_link {
    padding: 1em;
}

#top_link a {
    color: rgb(117, 117, 117);
    padding: 1em;
}
